* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #6b889a;
}

:root {
  --primary-color: #264653; /* Dark blue */
  --secondary-color: #2a9d8f; /* Teal */
  --accent-color: #e9c46a; /* Yellow */
  --dark-color: #023047; /* Navy blue */
  --light-color: #f4a261; /* Orange */
  --background-color: #457b9d; /* Blue-gray */
}

.language-selector{
  background-color: var(--dark-color);
  color: var(--secondary-color);
  font-size: 72px;
  text-align: center;
  padding: 18px;
}

.menu{
  background-color: var(--primary-color);
  font-size: 36px;
  padding: 12px;
}

.menu a{
  background-color: var(--primary-color);
  color: var(--light-color);
  text-decoration: none; /* Remove underline from links */
}

.menu a:hover{
  background-color: var(--primary-color);
  text-decoration: underline;
}

select {
  /* Reset all default styles */
  appearance: none; /* Removes the default dropdown arrow */
  -webkit-appearance: none; /* For older versions of WebKit browsers */
  -moz-appearance: none; /* For older versions of Mozilla browsers */
  -webkit-border-radius: 0; /* Removes rounded corners */
  -moz-border-radius: 0; /* Removes rounded corners */
  border-radius: 0; /* Removes rounded corners */
  border: none; /* Add a border for better visibility */
  background-color: var(--dark-color); /* Set a background color */
  padding: 10px; /* Add padding for better spacing */
  font-family: inherit; /* Use the same font as the parent element */
  font-size: inherit; /* Use the same font size as the parent element */
  color: inherit; /* Use the same text color as the parent element */
} 

.number-adjust button {
  font-size: 60px; 
  width: auto; 
  height: auto; 
}

.number-adjust span {
  font-size: 60px; /* Adjust font size of the block quantity */
}

.refresh {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.refresh:hover {
  background-color: var(--primary-color);
}

.letter-block-container{
  text-align:center;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.block {
  display: inline;
}

.letter{
  display: block;
  color: var(--light-color);
  background-color: var(--dark-color);    
  border: 5px solid black;
  padding: 15px;    
  font-size: 100px;
  margin: 7px;

}

.transliteration{
  display: block;
  color: var(--light-color);
  background-color: var(--dark-color);      
  border: 5px solid black;
  padding: 15px;    
  font-size: 100px;
  margin: 7px;
}

.answer-box{
  display: block;
  color: var(--light-color);
  background-color: var(--dark-color);      
  border: 5px solid black;
  padding: 15px;    
  font-size: 100px;
  margin: 7px;
  max-width: 200px;
}

.final-answer{
  display: block;
  color: var(--light-color);
  background-color: var(--primary-color);      
  border: 5px solid black;
  padding: 10px;    
  font-size: 75px;
  margin: 7px;
  max-width: 150px;
}

.suggestion-box{
  display: block;
  color: var(--light-color);
  background-color: var(--dark-color);      
  border: 5px solid black;
  padding: 15px;    
  font-size: 100px;
  margin: 7px;
  max-width: 200px;
}

.suggestion-item{
  font-size: 50px;
  list-style: none;
  background-color: var(--dark-color);  
}

.selected-suggestion{
  font-size: 50px;
  list-style: none;
  background-color: var(--secondary-color); 
}

.score{
  font-size: 50px;
}

.switch{
  font-size: 50px;
}

.switch input[type="checkbox"] {
  width: 35px;
  height: 35px;
}

.vocabulary-page {
  display        : flex;
  justify-content: space-between;
  font-size      : 36px;
}

.vocabulary-list{
  flex     : 0 0 auto; 
  width    : 300px;
  font-size: 36px;
}

.overlay{
  width     : 100vw;
  height    : 100vh;
  top       : 0;
  left      : 0;
  right     : 0;
  bottom    : 0;
  position  : fixed;
  background: rgba(49,49,49,0.8)
}

.modal{
  position     : absolute;
  top          : 40%;
  left         : 50%;
  transform    : translate(-50%, -50%);
  line-height  : 1.4;
  background   : #f1f1f1;
  padding      : 14px 28px;
  border-radius: 3px;
  max-width    : 600px;
  min-width    : 300px   
}

.close-button{
  position : absolute;
  top      : 10px;
  right    : 10px;
  padding  : 5px 7px;
}


